.pequena{
    width: 150px;
    height: 80px;
}
.grande{
    width: 450px;
    height: 240px;
    display: none;
}
.pequena:hover + .grande{
    display:block;
}
.pequena:hover{
    display: none;
}
.grande:hover{
    display: block;
}