img{
    position: relative;
    width: 100%;
    border-radius: 15px;
    border: double 1px red;
    transition: 0.7s;
    z-index: 1;
}
img:hover{
    width: 150%;
    z-index: 2;
    border-style:groove;
    border-color: yellowgreen;
    
}
.galeria{
    position: relative;
    top: 103px;
    column-count: 5;
}
header{
    position:fixed;
    left: calc(5% - 20px);
    top: 10px;
    margin: auto;
    z-index: 3;
    background-color:none;
    width: 90%;
    padding: 5px;
    /*border:red thin double;*/
    padding-left: 30px;
    border-radius: 15px;
   
}
ol{
    display: inline-block;
    text-align: left;
    padding: 10px;
}
.submenu{
    display: none;
    position: absolute;
}
.principal{
    vertical-align: top;
}
.principal:hover{
    transition: 0.6s;
}
.principal:hover .submenu{
    background: black;
    color: #fff;
    display: block;
    padding: 15px;
}
.subdosub{
    display: none;
}
.itemcomsubmenu{
    position: relative;
    width: 130%;
}
.itemcomsubmenu:hover .subdosub{
    position: absolute;
    top: 0px;
    left: 100%;
    display: block;
    background: blue;
    padding: 5px;
}
li{
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
}
.subdosub:hover{
    display: block;
}
 a{
    text-decoration: none;
 }
 a:visited{
    color:black;

 }